/* don't need to repeatedly set font family */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}


.logo-title img {
    display: inline;
    width: 100%;
    max-width: 300px;
}

.logo-title h1 {
    display: inline;
    float: right;
    color: #4992D8;
    font-weight: 700;
    padding-top: 20px;
}

.horizontal-line{
    height: 100px;
}

/*
    don't write repeatitive code;
    1. background color be different, but all buttons has color white
    2. all buttons are rounded (border-radius)
*/
.buttons .btn {
  border-radius: 30px;
  margin-left: 150px;
}

/*
    saturate???
    same as what it does in adobe photoshop ;)
    remember hue, saturation, lightness???
 */
.btn-login:hover {
  color: #fff;
  background-color: #4992D8;
 }
.horizontal-line {
  height: 3px;
  background: #4992D8;
}
.btn-login {
  margin-top: 25px;
  margin-left: 150px;
  color: #fff;
  background: #1E4074;
  width: 200px;
  border-radius: 30px;
}

.heading{
  font-weight: 700;
  color: #4992D8;
  margin-bottom: 50px;
  margin-top: 50px;
}

.form-group,.form-check{
  text-align: center;

}
.form-control{
  text-align: center;
  border: 1px solid #4092D8;
  border-radius: 30px;
  left: 50%;
  position: relative;
  max-width: 300px;
  min-width: 200px;
  transform: translateX(-50%);

}

.instructions{
  text-align: center;
}
.footer{
  text-align: center;
}
