<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/css/home.css">

    <title>SecureX :: Secure Your Exam</title>
</head>

<body>

    <!-- Logo -->
    <!--
        * mt-5 = MarginTop x 5 (bootstrap helper class)
     -->
    <div class="container-fluid mt-5">
        <!--
            * logo = our custom class
         -->
        <div class="logo-title">
            <img src="../assets/images/FullLogo.svg" alt="SucureX-Logo was here">
        </div>
    </div>
    <!-- Logo End -->

    <!--
        Content
            * 'contents' is our custom class
     -->
    <div class="container-fluid contents">
        <div class="row">

            <!-- Left Side -->
            <!--
                * mt-5 = MarginTop x 5 (bootstrap helper class)
             -->
            <div class="col-md-6 left mt-3">
                <h1 class="heading">Exam Hall<br>Authentication System</h1>

                <!--
                    * w-100 = Width 100% (bootstrap helper class)
                    * mt-4 = MarginTop x 4 (bootstrap helper class)
                    * mb-4 = MarginBottom x 4 (bootstrap helper class)
                 -->
                <div class="w-100 mt-4 mb-4">
                    <span>Please Login or Register to continue.</span>
                </div>

                <!--
                    * w-100 = Width 100% (bootstrap helper class)
                    * buttons = our custom class
                 -->
                <div class="w-100 buttons">

                    <!--
                        * btn = bootstrap default btn class
                        * btn-login = our custom css
                        * btn-register = our custom css
                        * mr-2 = MarginRight x 2 (bootstrap helper class)
                        * ml-2 = MarginLeft x 2 (bootstrap helper class)
                        * pr-5 = PaddingRight x 5 (bootstrap helper class)
                        * pl-5 = PaddingLeft x 5 (bootstrap helper class)
                        * shadow = bootstrap default class to add box-shadow
                     -->
                    <button id="loginBtn" class="btn btn-login mr-2 pl-5 pr-5">Login</button>
                    <button id="registerBtn"class="btn btn-register ml-2 pl-5 pr-5">Register</button>

                </div>

                <!--
                    * w-100 = Width 100% (bootstrap helper class)
                    * horizontal-line = our custom class
                    * mt-4 = MarginTop x 4 (bootstrap helper class)
                    * mb-4 = MarginBottom x 4 (bootstrap helper class)
                 -->
                <div class="w-50 horizontal-line mt-3"></div>
                <div class="w-100 mt-2">
                    <span>
                        We ensure all the exams are being conducted properly and make sure only selected cadidates with
                        authentic identity appears in tte examination.
                    </span>
                </div>
            </div>
            <!-- Left Side End -->

            <!-- Right Side -->
            <div class="col-md-6 right">
                <!--
                    * img-fluid = bootstrap responsive image class
                 -->
                <img src="../assets/images/landingArt.png" class="img-fluid" alt="">
            </div>
            <!-- Right Side End -->

        </div>
    </div>
    <!-- Content End -->

    <!-- Credit -->
    <!--
        * credits = our custom class
        * mt-5 = MarginTop x 5 (bootstrap helper class)
        * mb-5 = MarginBottom x 5 (bootstrap helper class)
     -->
    <div class="container-fluid credits mt-2 mb-5">
        <div class="row">
            <div class="col-lg-8">
                <!--
                    * btn-group = bootstrap class to wrap buttons (group of buttons)
                    * btn-credit = our custom class
                    * shadow-lg = bootstrap default class to add box-shadow
                 -->
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-credit btn-sm">Credits</button>
                    <button type="button" class="btn btn-light btn-sm">
                        <!--
                            * pt-2 = PaddingTop x 2 (bootstrap helper class)
                         -->
                        <marquee behavior="scroll" direction="left" class="pt-2">
                            Made by Hillol Barman | CSE | 188 & Parvani Ghosh | CSE | 126
                        </marquee>
                    </button>
                </div>
            </div>
        </div>
    </div>  <!-- Credit End -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="../assets/js/home.js"></script>
</body>

</html>
