<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/css/status.css">

    <title>SecureX :: Secure Your Exam</title>
</head>

<body>


    <!-- Logo -->
    <!--* mt-5 = MarginTop x 5 (bootstrap helper class)-->
    <div class="container mt-5 ">
        <!--
            * logo = our custom class
         -->
        <div class="row">

              <div class="logo-title col-lg-6">
                  <img src="../assets/images/FullLogo.svg" alt="SecureX-Logo was here">
              </div>

              <div class="logo-title col-lg-6">
                  <h1>Status</h1>
              </div>

                  <div class="w-100 horizontal-line mt-4 mb-5"></div>
        </div>

        <!-- Start -->

            <div class="col-lg-12">     <!-- we're in -->

              <div class="completed text-center">
                <img src="../assets/images/completed.svg" alt="completed-sign">
                <h1>Registration Completed Successfully</h1>

                <h3>Unique ID : ##</h3>

                <div class="statusDescription text-justify-center mt-4">

                  <span>Please contact your respective friendly class teacher <br>
                        along with this Unique ID to complete the <br>
                        registration process. <br>
                  </span>

                </div>

                <h4>Unique ID is also sent to your email and mobile number</h4>

              </div>

            </div>    <!-- we're out -->



      </div>

        <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <button class="btn btn-login" type="button">See Form</button>
              </div>
            </div>
        </div>




    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>
